body{
    background-color: rgb(119, 0, 255);

    p{
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        background-image: linear-gradient(aquamarine,rgb(101, 207, 233));
    }

    h1{
       color: aliceblue; 
    }
}